<? const pageTitle = title.toLowerCase() != 'jade dragon auth' ? `${title} | Jade Dragon Auth` : title; ?>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1">

<!-- Fav icon -->
<link rel="shortcut icon"
      type="image/x-icon"
      href="/favicon.ico" />

<title>
      <?= pageTitle ?>
</title>

<link rel="stylesheet"
      href="/css/bootstrap.css">

<link rel="stylesheet"
      href="/css/main.css">

<meta name="theme-color"
      content="#12192e">

<script>
      const vueScript = document.createElement('script');
      vueScript.src = location.hostname == 'localhost'
            ? 'https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'
            : 'https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js';
      document.head.appendChild(vueScript);
</script>

<script src="/js/moment/moment.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>

<script type="module">
      import { createAppStorage } from '/js/components/storage.js';
      import { createToast } from '/js/components/toast.js';
      import { createLoader } from '/js/components/loader.js';

      const AppStorage = createAppStorage();
      const Toast = createToast(document);
      const Loader = createLoader(document);

      AppStorage.loadData();
      Toast.createElement();
      Loader.createElement();

      const lang = String(window.navigator.userLanguage || window.navigator.language);
      moment.locale(lang);
</script>