<html>

<head>
    <?- include('../common/head', { title: 'Signup' }) ?>

    <link rel="stylesheet"
          href="/css/view-signup.css">
</head>

<body>

    <div id="viewSignup">

        <div class="bg">

            <div class="container signup">
                <div class="row content">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="box">

                            <div class="row">
                                <div class="col-12">
                                    <div class="logo">
                                        <img src="/images/logo.svg"
                                             alt="Logo">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="signup-title">
                                        <a href="/login">
                                            <i class="fas fa-arrow-left"></i>
                                        </a>
                                        <span>Signup</span>
                                    </div>
                                </div>
                            </div>

                            <form v-on:submit="signup">

                                <div class="row">

                                    <div class="col-12">
                                        <div class="input">
                                            <input type="text"
                                                   placeholder="Name"
                                                   v-model="form.name.value"
                                                   :required="form.name.required">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="input">
                                            <input type="email"
                                                   placeholder="Email"
                                                   v-model="form.email.value"
                                                   :required="form.email.required">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="input">
                                            <input :type="form.password.show ? 'text' : 'password'"
                                                   placeholder="Password"
                                                   v-model="form.password.value"
                                                   :required="form.password.required">
                                        </div>
                                        <div class="form-check show-password">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="showPasswordCheck"
                                                   v-on:change="showPassword">
                                            <label class="form-check-label"
                                                   for="showPasswordCheck">
                                                Show password
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-12 buttons">
                                        <button type="submit"
                                                class="btn btn-light">Signup</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <?- include('../common/scripts')?>

    <script type="module">

        import { createAppStorage } from '/js/components/storage.js';
        import { createLoader } from '/js/components/loader.js';
        import { createToast } from '/js/components/toast.js';
        import { createHttpClient } from '/js/components/http-client.js';
        import { createRouter } from '/js/components/router.js';

        const AppStorage = createAppStorage();
        const Loader = createLoader(document);
        const Toast = createToast(document);
        const HttpClient = createHttpClient();
        const Router = createRouter();

        const viewLogin = new Vue({
            el: '#viewSignup',

            data: {
                form: {
                    name: { value: null, required: true },
                    email: { value: null, required: true },
                    password: { value: null, required: true, show: false }
                }
            },

            methods: {
                signup(e) {
                    e.preventDefault();

                    Loader.open();
                    HttpClient.post('/api/auth/register', {
                        name: this.form.name.value,
                        email: this.form.email.value,
                        password: this.form.password.value
                    }).then(response => {
                        Loader.dismiss();

                        AppStorage.getData().user = response.data.user;
                        AppStorage.getData().token = response.data.token;
                        AppStorage.saveData()

                        Router.navigate('/');
                    }).catch(error => {
                        Loader.dismiss();
                        Toast.showHttpError(error);
                    });
                },

                showPassword(event) {
                    this.form.password.show = event.target.checked;
                }
            }
        });
    </script>
</body>

</html>