<html>

<head>
    <?- include('../common/head', { title: 'Login' }) ?>

    <link rel="stylesheet"
          href="/css/view-login.css">
</head>

<body>

    <div id="viewLogin">

        <div class="bg">

            <div class="container login">
                <div class="row content">
                    <div class="col-md-3">
                        <div class="box">

                            <div class="row">
                                <div class="col-12">
                                    <div class="logo">
                                        <img src="/images/logo.svg"
                                             alt="Logo">
                                    </div>
                                </div>
                            </div>

                            <form v-on:submit="login">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="input">
                                            <img src="/images/username-logo.svg">
                                            <input type="email"
                                                   placeholder="Email"
                                                   v-model="form.email.value"
                                                   :required="form.email.required">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input">
                                            <img src="/images/password-logo.svg">
                                            <input type="password"
                                                   placeholder="Password"
                                                   v-model="form.password.value"
                                                   :required="form.password.required">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit"
                                                class="btn btn-light">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <?- include('../common/scripts')?>

    <script type="module">

        import { AppStorage } from '/js/components/storage.js';
        import { Loader } from '/js/components/loader.js';
        import { Toast } from '/js/components/toast.js';
        import { HttpClient } from '/js/components/http-client.js';

        const viewLogin = new Vue({
            el: '#viewLogin',

            data: {
                title: 'Login',
                form: {
                    email: { value: null, required: true },
                    password: { value: null, required: true }
                }
            },

            methods: {
                login(e) {
                    e.preventDefault();

                    Loader.open();
                    HttpClient.post('/api/auth/login', {
                        email: this.form.email.value,
                        password: this.form.password.value
                    }).then(response => {
                        Loader.dismiss();

                        AppStorage.data.user = response.data.user;
                        AppStorage.data.token = response.data.token;
                        AppStorage.saveData()

                        location.href = `${location.origin}`;
                    }).catch(error => {
                        Loader.dismiss();
                        Toast.showHttpError(error);
                    });
                }
            }
        });
    </script>
</body>

</html>