.bg {
    background-image: url("/images/background.png");
    background-color: var(--blue-700);
    height: 100%;
}

.reset-password {
    .content {
        height: 100% !important;
        justify-content: center !important;
        align-content: center !important;

        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;

            img {
                width: 100px;
            }
        }

        .reset-password-title {
            color: #fff;
            display: flex;
            align-items: center;
            gap: 10px;

            a {
                color: #fff;
                font-size: 12px;
            }

            span {
                font-size: 18px;
            }
        }

        .box {
            background: var(--bs-primary);
            background: linear-gradient(0deg, var(--blue-800) 0%, var(--blue-500) 100%);
            padding: 2.25rem;
            border-radius: 10px 10px 0 0;
            box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.25);
            border-bottom: 1px solid var(--green-600);

            .input {
                display: flex;
                gap: 10px;
                align-items: center;

                input {
                    width: 100%;
                    padding: 5px 5px;
                    color: var(--green-600);
                    display: inline-block;
                    outline: none;
                    font-size: 12px;
                    font-weight: 500;
                    border: 0;
                    border-bottom: 1px solid #5b6377;
                    background-color: transparent;
                    border-radius: 0;
                }
            }

            .show-password {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 0;
                margin-top: 2px;

                input {
                    margin: 0;
                }

                label {
                    color: #7a7a7a;
                    font-size: 12px;
                }

                :checked {
                    background-color: var(--green-600);
                    border-color: var(--green-600);
                }

                :focus {
                    box-shadow: none;
                }
            }

            .buttons {
                margin-top: 32px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
